<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
        integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>



<body class="bgd">
    <nav class="navbar navbar-expand navbar-dark bg-dark nb">
        <a class="navbar-brand" href="/">Tech Blog</a>


        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            {{#if loggedIn}}
            <a class="nav-item nav-link" href="/dashboard">Dash board</a>
            <a id="logout" class="nav-item nav-link" href="/login">Log Out</a>
            {{else}}
            <a class="nav-item nav-link" href="/login">Log In</a>
            {{/if}}
        </div>
    </nav>

    <main class="content">
        {{{body}}}
    </main>

    <footer class="footer"></footer>
        
        <div class="row ftrRow">
            <div class="links col-8">
                <p class="font-weight-bold text-uppercase lnk">Links</p>
                <ul class="list-unstyled">
                    <li class="meta">
                        <a href="#!">My GitHub</a>   
                    </li>
                    <li class="meta">
                        <a href="#!">This Projects Repo</a>
                    </li>
                </ul>
            </div>
    
            <div class="col-2 thx"><p class="font-weight-bold text-uppercase lnk">Thanks For Visiting!</p></div>
        </div>
    </footer>



    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>