<div class="container">
    <h2 class="text-light">Sign Up</h2>
    <form class="signup-form">
        <div class="form-group">
            <label class="text-light" for="username-signup">Username</label>
            <input type="username" class="form-control" id="username-signup" placeholder="username">
        </div>
        <div class="form-group">
            <label class="text-light" for="email-signup">Email address</label>
            <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>
        <div class="form-group">
            <label class="text-light" for="password-signup">Password</label>
            <input type="password" class="form-control" id="password-signup" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="log" ><a href="/login">Log In</a></div>
</div>

<script src="/javascript/signup.js"></script>